body {
   background-color: rgb(205, 203, 203);
   margin: 2%;
}

img {
   height: 125px;
   border-radius: 10px;
}

.container_all {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 60%;
   margin: auto;
   height: 70%;
   height: 70vh;
   margin-top: 50px;
}

.header_screen {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 17%;
}

.btn_startGame {
   padding: 15px;
   background-color: white;
   color: green;
   transition: 1s ease;
}

.btn_startGame:hover {
   background-color: green;
   color: white;
}